
profiles {	
    standard {	
        process {	
            withName: 'trim_files' {	
                cpus = 4	
                memory = 6.GB	
            }
            withName: 'kallisto' {	
                cpus = 4	
                memory = 6.GB	
            }	
        }	
    }
    testing {	
        process {	
            cpus = 2	
            memory = 4.GB	
        }	
    }	
}

