// Needed to run workflow on HPC
docker.runOptions = '-u $(id -u):$(id -g)'

// Avoiding spamming cluster
executor {
  name = 'local'
  queueSize = 4
  submitRateLimit = '10 sec'
}
profiles {  
    standard {  
        process {   
            withName: 'trim_files_PE' { 
                cpus = 4    
                memory = 16.GB   
            }
            withName: 'kallisto_human_PE' { 
                cpus = 4    
                memory = 16.GB   
            }   
            withName: 'kallisto_qc_PE' {    
                cpus = 4    
                memory = 16.GB   
            }
            withName: 'trim_files_SE' { 
                cpus = 4    
                memory = 16.GB   
            }
            withName: 'kallisto_human_SE' { 
                cpus = 4    
                memory = 16.GB   
            }   
            withName: 'kallisto_qc_SE' {    
                cpus = 4    
                memory = 16.GB   
            }       
        }   
    }
    laptop {    
        process {   
            cpus = 2    
            memory = 4.GB   
        }   
    }
}   
